body {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.table-row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

.table-col {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
}

.hide {
    display:none !important;
}

form.assignments{
    display: flex;
    flex-direction: row;
}

span {
    height: 1em;
}