body {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h2 {
    color: #1D345A;
}

.table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table-col {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
}

.hide {
    display:none !important;
}

form.assignments{
    display: flex;
    flex-direction: row;
}

span {
    height: 1em;
}

.page-container {
    margin: 0px 2em;
}
.checkbox-container {
    padding-top: 1em;
}

.incorrect {
    color: #D72226;
}

.correct {
    color: #2BA037;
}

.table-odd {
    background-color:#95BADD;
}