body {
    margin: 0px;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

h2 {
    color: #1D345A;
}

.table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.table-col {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
}

.hide {
    display:none !important;
}

form.assignments{
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
}

span {
    height: 1em;
}

.page-container {
    margin: 0px 2em;
}
.checkbox-container {
    padding-top: 1em;
}

.incorrect {
    color: #D72226;
}

.correct {
    color: #2BA037;
}

.table-odd {
    background-color: #1D345A;
    color: white;
}

.graph {
    display: flex;
    justify-content: center;
}

.activity h1, .summary h1{
    text-align: center;
}

.activity .table-row {
    text-align: center;
    justify-content: center;
    height: 1.5em;
    width: 50%;
}

.activity .table-row div{
    width: 25%;
}

.activity .table-col {
    width: 100%;
    align-items: center;
}

.assignments h1 {
    text-align: center;
}

.assignments form{
    justify-content: center;
    margin-top: 1.5em;
}

.summary h2{
    text-align: center;
}

.page-container.login-page h1 {
    text-align:center;
}
